# Tips python

In [12]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Selección de datos
#### Utilizando Numpy para crear una serie y luego seleccionamos por indice LABEL o indice ENTERO

In [21]:
enserio = Series(np.arange(5), index=["Fila 1","Fila 2","Fila 3","Fila 4","Fila 5"])
enserio

Fila 1    0
Fila 2    1
Fila 3    2
Fila 4    3
Fila 5    4
dtype: int32

#####  para seleccionar un dato en base a un indice LABEL

In [25]:
enserio["Fila 5"]

4

######  para seleccionar toda la fila en base a su indice ENTERO

In [73]:
enserio[[1,4]]

Fila 2    1
Fila 5    4
dtype: int32

In [74]:
# para tener los mismos números aleatorios
np.random.seed(25)

#  Aqui estas aplicando los métodos uno a uno
#datafreim=np.random.rand(16)
#datafreimR = np.reshape(datafreim,(4,4))
#datafreimRD = DataFrame(datafreimR)
#datafreimRD

# Aquí estas aplicando el reshape directamente sobre el array y luego lo conviertes a Data frame
datafreim=DataFrame(np.random.rand(16).reshape((4,4)))
datafreim

          0         1         2         3
0  0.870124  0.582277  0.278839  0.185911
1  0.411100  0.117376  0.684969  0.437611
2  0.556229  0.367080  0.402366  0.113041
3  0.447031  0.585445  0.161985  0.520719