In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [2]:
tienda = pd.read_csv('store_data.csv', header=None)
tienda.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
listas = []
for i in range(len(tienda)):
    listas.append([str(tienda.values[i,j]) for j in range(0, len(tienda.columns))])

In [4]:
reglasAsociacion = apriori(listas, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
resultadosAsociacion = list(reglasAsociacion)
print(len(resultadosAsociacion))

48

In [8]:
data=[]
columnas=["Rule","Support","Confidence","Lift"]
consolidado=pd.DataFrame()
for item in resultadosAsociacion:
    par = item[0] 
    items = [x for x in par]
    if len(items)==3:
        Rule= items[0] + " -> " + items[1]+ " , " + items[2]
    else:
        Rule= items[0] + " -> " + items[1]
    Support=item[1]
    Confidence=item[2][0][2]
    Lift=item[2][0][3]
    data.append({"Rule":Rule,"Support":Support,"Confidence":Confidence,"Lift":Lift})
    consolidado=pd.DataFrame(data,columns=columnas)
    
consolidado.sort_values(by="Lift", ascending=False).head()

                            Rule   Support  Confidence      Lift
0         light cream -> chicken  0.004533    0.290598  4.843951
7   nan -> light cream , chicken  0.004533    0.290598  4.843951
11       nan -> pasta , escalope  0.005866    0.372881  4.700812
2              pasta -> escalope  0.005866    0.372881  4.700812
28         nan -> pasta , shrimp  0.005066    0.322034  4.515096