
## Práctica 5. Reglas de asociación

### Dataset: Store_data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [2]:
tienda = pd.read_csv('store_data.csv', header=None)
tienda.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Utilizando APRIORI

In [3]:
listas = []
for i in range(len(tienda)):
    #if tienda.values[i,j]!="NaN":
    #for j in range(len(tienda.columns)):
    listas.append([str(tienda.values[i,j]) for j in range(len(tienda.columns)) if str(tienda.values[i,j]) != "nan"])

In [4]:
reglasAsociacion = apriori(listas, min_support=0.0053, min_confidence=0.2, min_lift=3, min_length=2,max_length=3)
resultadosAsociacion = list(reglasAsociacion)
print(len(resultadosAsociacion))

16

In [5]:
data=[]
columnas=["Rule","Support","Confidence","Lift"]
consolidado=pd.DataFrame()
for item in resultadosAsociacion:
    par = item[0] 
    items = [x for x in par]
    if len(items)==3:
        Rule= items[0] +" , "+ items[1]+ " -> "   + items[2]
    else:
        Rule= items[0] + " -> " + items[1]
    data.append({"Rule":Rule,"Support":item[1],"Confidence":item[2][0][2],"Lift":item[2][0][3]})
    consolidado=pd.DataFrame(data,columns=columnas)    
consolidado.sort_values(by="Lift", ascending=False).head(10                                                        )

,Rule,Support,Confidence,Lift
1,pasta -> escalope,0.005866,0.372881,4.700812
4,whole wheat pasta -> olive oil,0.007999,0.271493,4.122410
13,"ground beef , herb & pepper -> spaghetti",0.006399,0.393443,4.004360
12,"ground beef , herb & pepper -> mineral water",0.006666,0.390625,3.975683
3,ground beef -> tomato sauce,0.005333,0.377358,3.840659
0,mushroom cream sauce -> escalope,0.005733,0.300699,3.790833
10,"tomatoes , frozen vegetables -> spaghetti",0.006666,0.239234,3.498046
2,ground beef -> herb & pepper,0.015998,0.323450,3.291994
11,"grated cheese , ground beef -> spaghetti",0.005333,0.322581,3.283144
5,"shrimp , frozen vegetables -> chocolate",0.005333,0.232558,3.254512

### Interpretación

|Interpretación|
|:---|
|Considerando los parámetros de la función apriori, se evidencia que los productos con mayor asociación son:|
|Pasta y Escalope, Whole wheat pasta y Olive Oil, y Ground beef, herb&pepper y spaghetti|
|Destacar que se ha modificado el código para eliminar los datos NaN|
|Vamos a comparar estos mismos resultados con la técnica Mlxtend|

## Utilizando MLXTEND

In [6]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
tienda1 = tienda.stack()
tienda1 = tienda1.reset_index()
del tienda1["level_1"]
tienda1.rename(columns={0:'items'}, inplace=True)
tienda1.rename(columns={'level_0':'nro'}, inplace=True)
tienda1.head(60)

    nro              items
0     0             shrimp
1     0            almonds
2     0            avocado
3     0     vegetables mix
4     0       green grapes
5     0   whole weat flour
6     0               yams
7     0     cottage cheese
8     0       energy drink
9     0       tomato juice
10    0     low fat yogurt
11    0          green tea
12    0              honey
13    0              salad
14    0      mineral water
15    0             salmon
16    0  antioxydant juice
17    0    frozen smoothie
18    0            spinach
19    0          olive oil
20    1            burgers
21    1          meatballs
22    1               eggs
23    2            chutney
24    3             turkey
25    3            avocado
26    4      mineral water
27    4               milk
28    4         energy bar
29    4   whole wheat rice
30    4          green tea
31    5     low fat yogurt
32    6  whole wheat pasta
33    6       french fries
34    7               soup
35    7        light cream
36    7            shallot
37    8  frozen vegetables
38    8          spaghetti
39    8          green tea
40    9       french fries
41   10               eggs
42   10           pet food
43   11            cookies
44   12             turkey
45   12            burgers
46   12      mineral water
47   12               eggs
48   12        cooking oil
49   13          spaghetti
50   13          champagne
51   13            cookies
52   14      mineral water
53   14             salmon
54   15      mineral water
55   16             shrimp
56   16          chocolate
57   16            chicken
58   16              honey
59   16                oil

In [8]:
tienda1 = tienda1.groupby(['nro', 'items']).size()
aux = tienda1.unstack(level=-1)
productos = aux.reset_index().fillna(0).set_index('nro')
#productosTienda = lambda x: 0 if == 0 else 1
def codificar(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
productosTienda = productos.applymap(codificar)
productosTienda.head(3)

items,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
nro,,,,,,,,,,,,,,,,,,,,,
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
frequent_itemsets = apriori(productosTienda, min_support=0.0053,use_colnames=True)
reglas = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
reglas.sort_values(by = "lift", ascending = False).head(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
353,(escalope),(pasta),0.079323,0.015731,0.005866,0.073950,4.700812,0.004618,1.062867
352,(pasta),(escalope),0.015731,0.079323,0.005866,0.372881,4.700812,0.004618,1.468107
702,(whole wheat pasta),(olive oil),0.029463,0.065858,0.007999,0.271493,4.122410,0.006059,1.282270

In [10]:
reglas[(reglas['confidence']>0.2) & (reglas['support']>0.0053)].sort_values(by = "lift", ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
352,(pasta),(escalope),0.015731,0.079323,0.005866,0.372881,4.700812,0.004618,1.468107
702,(whole wheat pasta),(olive oil),0.029463,0.065858,0.007999,0.271493,4.122410,0.006059,1.282270
1472,"(herb & pepper, spaghetti)",(ground beef),0.016264,0.098254,0.006399,0.393443,4.004360,0.004801,1.486663
1467,"(herb & pepper, mineral water)",(ground beef),0.017064,0.098254,0.006666,0.390625,3.975683,0.004989,1.479789
555,(tomato sauce),(ground beef),0.014131,0.098254,0.005333,0.377358,3.840659,0.003944,1.448259
350,(mushroom cream sauce),(escalope),0.019064,0.079323,0.005733,0.300699,3.790833,0.004220,1.316568
1428,"(frozen vegetables, spaghetti)",(tomatoes),0.027863,0.068391,0.006666,0.239234,3.498046,0.004760,1.224568
1427,"(tomatoes, spaghetti)",(frozen vegetables),0.020931,0.095321,0.006666,0.318471,3.341054,0.004671,1.327427
530,(herb & pepper),(ground beef),0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860
1433,"(grated cheese, spaghetti)",(ground beef),0.016531,0.098254,0.005333,0.322581,3.283144,0.003708,1.331149

### Interpretación

|Interpretación|
|:---|
|Aplicando la técnica de asociación de la librería Mlxtend se llegó a los mismos resultados citados en la interpretación anterior.|