In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.naive_bayes import BernoulliNB,GaussianNB,MultinomialNB
#from sklearn.naive_bayes import GaussianNB
#from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [2]:
fertility = pd.read_csv("Fertility1.csv", sep=";")
tamaño=.33
tamañoTest=len(fertility)*tamaño
fertility.head()

,season,age,Ch_Disease,Accident,Surg_Int,H_Fever,Alcohol_Cons,Smoke,N_Hours,Diag
0,Fall,30,No,Yes,Yes,Greater th 3m,Once a week,Daily,6,Altered
1,Winter,31,No,Yes,No,No,Several times a week,Occasional,9,Normal
2,Winter,29,No,Yes,No,Greater th 3m,Hardly ever or never,Occasional,3,Normal
3,Fall,30,No,Yes,No,Greater th 3m,Once a week,Never,4,Altered
4,Spring,30,No,No,Yes,Greater th 3m,Once a week,Never,8,Altered

In [3]:
le = preprocessing.LabelEncoder()
num = fertility.select_dtypes(include=np.number)
nonum = fertility.select_dtypes(exclude=np.number)
nonum = nonum.drop(["Diag"], axis=1)
for columna in nonum:
    nonum[columna + "_cod"]=le.fit_transform(nonum.loc[:, columna])
    nonum = nonum.drop(columna, axis=1)
nonum

,season_cod,Ch_Disease_cod,Accident_cod,Surg_Int_cod,H_Fever_cod,Alcohol_Cons_cod,Smoke_cod
0,0,0,1,1,0,2,0
1,3,0,1,0,2,4,2
2,3,0,1,0,0,1,2
3,0,0,1,0,0,2,1
4,1,0,0,1,0,2,1
...,...,...,...,...,...,...,...
95,1,0,1,0,0,2,0
96,3,0,1,1,2,1,2
97,1,0,0,0,1,2,2
98,2,0,1,1,2,1,1
99,0,0,0,0,0,2,0

In [4]:
X = pd.concat([num,nonum], axis=1)
y = fertility.loc[:,fertility.columns=="Diag"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=tamaño, random_state=0, stratify=y)
y_expect = y_test

In [5]:
BernNB = BernoulliNB(binarize = 0.1)
BernNB.fit(X_train, y_train)
y_pred = BernNB.predict(X_test)
B = accuracy_score(y_expect, y_pred)
Bn = tamañoTest - accuracy_score(y_expect, y_pred, normalize=False)
y_expect= y_expect["Diag"].to_numpy()
valores= [y_expect, y_pred]
tabla = pd.DataFrame(data=valores, index=["Esperado","Estimado"])
tabla= tabla.transpose()
tabla

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

   Esperado Estimado
0    Normal   Normal
1    Normal   Normal
2    Normal   Normal
3   Altered   Normal
4    Normal   Normal
5    Normal   Normal
6    Normal   Normal
7    Normal   Normal
8    Normal   Normal
9    Normal   Normal
10   Normal   Normal
11  Altered   Normal
12   Normal   Normal
13   Normal   Normal
14   Normal   Normal
15   Normal   Normal
16   Normal   Normal
17   Normal   Normal
18   Normal   Normal
19  Altered   Normal
20   Normal   Normal
21  Altered   Normal
22   Normal   Normal
23   Normal   Normal
24   Normal   Normal
25   Normal   Normal
26   Normal   Normal
27   Normal   Normal
28   Normal   Normal
29   Normal   Normal
30   Normal   Normal
31   Normal   Normal
32   Normal   Normal

In [6]:
MultiNB = MultinomialNB()
MultiNB.fit(X_train, y_train)
y_pred = MultiNB.predict(X_test)
M = accuracy_score(y_expect, y_pred)
Mn = tamañoTest - accuracy_score(y_expect, y_pred, normalize=False)
#print(accuracy_score(y_expect, y_predM))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [7]:
GaussNB=GaussianNB()
GaussNB.fit(X_train, y_train)
y_pred = GaussNB.predict(X_test)
G = accuracy_score(y_expect, y_pred)
Gn = tamañoTest - accuracy_score(y_expect, y_pred, normalize=False)
#print(accuracy_score(y_expect,y_predG))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [8]:
#cabeceras= ["BernoulliNB","MultinomialNB"]#,"GaussianNB"]
#valores= [{"Accuracy Score":[B,M,G],"numero":[Bn,Mn,Gn]}]
#tabla = pd.DataFrame(data=valores)#, index=cabeceras, columns = ["Accuracy Score", "numero"])
cabeceras= ["BernoulliNB","MultinomialNB","GaussianNB"]
valores= [[B,Bn],[M,Mn],[G,Gn]]
tabla = pd.DataFrame(data=valores, index=cabeceras, columns = ["Accuracy Score", "Numero de Achuntes"])
tabla

               Accuracy Score  numero
BernoulliNB          0.878788     4.0
MultinomialNB        0.878788     4.0
GaussianNB           0.878788     4.0