In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## Leemos dataset

In [2]:
df = pd.read_csv('kaggle_ecommerce 10abr.csv')
df

,_unit_id,relevance,relevance:variance,product_image,product_link,product_price,product_title,query,rank,source,first_name,last_name,company_name,address,city,county,state,user_id
0,711158459.0,3.67,0.471,http://thumbs2.ebaystatic.com/d/l225/m/mzvzEUI...,http://www.ebay.com/itm/Sony-PlayStation-4-PS4...,$329.98,Sony PlayStation 4 (PS4) (Latest Model)- 500 G...,playstation 4,1.0,eBay,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116.0
1,711158460.0,4.00,0.000,http://thumbs3.ebaystatic.com/d/l225/m/mJNDmSy...,http://www.ebay.com/itm/Sony-PlayStation-4-Lat...,$324.84,Sony PlayStation 4 (Latest Model)- 500 GB Jet ...,playstation 4,2.0,eBay,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116.0
2,711158461.0,4.00,0.000,http://thumbs4.ebaystatic.com/d/l225/m/m10NZXA...,http://www.ebay.com/itm/Sony-PlayStation-4-PS4...,$324.83,Sony PlayStation 4 PS4 500 GB Jet Black Console,playstation 4,3.0,eBay,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014.0
3,711158462.0,3.67,0.471,http://thumbs2.ebaystatic.com/d/l225/m/mZZXTmA...,http://www.ebay.com/itm/Sony-PlayStation-4-500...,$350.00,Sony - PlayStation 4 500GB The Last of Us Rema...,playstation 4,4.0,eBay,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501.0
4,711158463.0,3.33,0.471,http://thumbs3.ebaystatic.com/d/l225/m/mzvzEUI...,http://www.ebay.com/itm/Sony-PlayStation-4-PS4...,$308.00,Sony PlayStation 4 (PS4) (Latest Model)- 500 G...,playstation 4,5.0,eBay,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32669,713196636.0,NaN,NaN,http://edge.shop.com/ccimg.shop.com/250000/250...,http://www.shop.com/nbts/p957783018-xinternals...,$169.00,Maine Pac Boots,snow boots,33.0,Shop.com,Lizbeth,Kohl,E T Balancing Co Inc,35433 Blake St #588,Gardena,Los Angeles,CA,90248.0
32670,713196637.0,NaN,NaN,http://edge.shop.com/ccimg.shop.com/240000/243...,http://www.shop.com/nbts/p1237032619-xinternal...,$39.99,"Itasca Icebreaker Snow Boots - Waterproof, Ins...",snow boots,34.0,Shop.com,Glenn,Berray,"Griswold, John E Esq",29 Cherry St #7073,Des Moines,Polk,IA,50315.0
32671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Tipos de datos en el dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32674 entries, 0 to 32673
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _unit_id            32671 non-null  float64
 1   relevance           20571 non-null  float64
 2   relevance:variance  20571 non-null  float64
 3   product_image       32671 non-null  object
 4   product_link        32671 non-null  object
 5   product_price       32671 non-null  object
 6   product_title       32671 non-null  object
 7   query               32671 non-null  object
 8   rank                32671 non-null  float64
 9   source              32671 non-null  object
 10  first_name          32669 non-null  object
 11  last_name           32669 non-null  object
 12  company_name        32669 non-null  object
 13  address             32669 non-null  object
 14  city                32669 non-null  object
 15  county              32669 non-null  object
 16  state               32669 non-null  object
 17  user_id             32669 non-null  float64
dtypes: float64(5), object(13)
memory usage: 4.5+ MB

### Eliminamos columnas innecesarias

In [4]:
df.drop(['product_image', 'product_link', 'product_title', 'relevance', 'relevance:variance', 'rank', 'company_name', 'address'], axis=1, inplace=True)
df['clien_id'] = df['zip']
df

KeyError: 'zip'

### La columna product_price tiene muchos tipos de datos

In [ ]:
df['product_price'].value_counts()

### Limpiamos y convertimos el tipo de dato de "object" a "float"

In [ ]:
df["price"]=df['product_price'].str[1:6]
df

In [ ]:
df = df.drop([32671,32672,32673])
df

In [ ]:
df.drop(['product_price', 'zip'], axis=1, inplace=True)
df

In [ ]:
df1=df[df["price"] == "ale $"].index
df1=df.drop(df1)
df2=df1[df1["price"] == "eg:\np"].index
df2=df1.drop(df2)
df3=df2[df2["price"] == "ist:\n"].index
df3=df2.drop(df3)
df3

In [ ]:
df3['price'] = df3['price'].str.replace(',','')
df3['price']

In [ ]:
df3['price'] = df3['price'].astype('float64')
df3['price'].dtype

In [ ]:
df3['source'].value_counts()

In [ ]:
df3['query'].value_counts()

In [ ]:
df3['clien_id'].value_counts()

In [ ]:
df4 = df3.groupby(['clien_id', 'query']).size()
df4

In [ ]:
temp = df4.unstack(level=-1)
temp

In [ ]:
online = temp.reset_index().fillna(0).set_index('clien_id')
online

In [ ]:
online.columns

In [ ]:
online.loc[99501,'laptop lenovo']

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
online_sets = online.applymap(encode_units)
online_sets

In [ ]:
frq_items = apriori(online_sets, min_support = 0.07, use_colnames = True) 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [ ]:
frq_items = apriori(online_sets, min_support = 0.08, use_colnames = True) 
rules = association_rules(frq_items, metric ="lift", min_threshold = 0.5) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [ ]:
df3

In [ ]:
df3.state.unique()

In [ ]:
state_1 = df3.groupby(['state', 'source']).size()
state_1

In [ ]:
temp1 = state_1.unstack(level=-1)
temp1

In [ ]:
state_2 = df3.groupby(['state', 'query']).size()
state_2

In [ ]:
temp2 = state_2.unstack(level=-1)
temp2

In [ ]:
online1 = temp2.reset_index().fillna(0).set_index('state')
online1

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
online_sets1 = online1.applymap(encode_units)
online_sets1

In [ ]:
frq_items1 = apriori(online_sets1, min_support = 0.7, use_colnames = True) 
rules = association_rules(frq_items1, metric ="lift", min_threshold = 0.5) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [ ]:
frq_items1 = apriori(online_sets1, min_support = 0.75, use_colnames = True) 
rules = association_rules(frq_items1, metric ="lift", min_threshold = 0.5) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [ ]:
p = online_sets1.copy()
for i in range(1, len(p.columns)+1):
    p["Cat"] = np.where(p[p.columns[i]] == 1, 1, 0)
    p[p.columns[i]]= i
    g = sns.scatterplot(p.index, p[p.columns[i]], hue = p.Cat, legend = False)
    g.yaxis.set_label_text('state')
    g.set_yticks(np.arange(1, len(p.columns)))
    g.set_xticks(online_sets.index)
    g.set_yticklabels(online_sets.columns)
    plt.title("Online Ecommerce")